<% content_for :title, "Swatches" %>

<h1>Swatches</h1>

<% if current_user && current_user.admin? %>
  <%= link_to "New swatch", new_admin_swatch_path %>
<% end %>

<div id="swatches">
  <% @swatches.each do |swatch| %>
    <%= render swatch %>
  <% end %>
</div>
