<%= render @fill %>

<div>
  <% if current_user && current_user.admin? %>
    <%= link_to "Edit this fill", edit_admin_fill_path(@fill) %> |
    <%= button_to "Destroy this fill", admin_fill_path(@fill), method: :delete %>
  <% end %>

  <%= link_to "Back to fills", admin_fills_path %>
</div>
